body{
    margin: auto;
}
.new-arrival{
    width: 100%; 
    padding-bottom: 20px;
}
.new-arrival-head{
    font-size: 28px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
}
.new-arrival-moving-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.arrow{
    font-weight: 5px;
    font-size: 50px;
    
}
#logoColor{
    color: black;
}
.slider:hover{
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: space-evenly;
   
}
.card-box{
    padding: 4px 4px 4px 4px;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-sizing: border-box;
}
.card-box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.card-info-name{
    height: 70px;
    display: flex;
    justify-content: space-between;

}
.offfer-discount{
    font-weight: bold;
    color: white;
    background-color: rgb(235, 43, 43);
    border-radius: 50%;
    text-align: center;
    height: 55px;
    width: 55px;
}
.card-info-img{
    height: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}
.imglink{
    width: 150px; 
    height: 150px;
    object-fit: contain;
}
.croess-rate{
    color: #a4a4a4;
}
.croess-rate span{
    text-decoration: line-through;
}
.rate{
    line-height: 1px;
}
.current-rate{
    color: #f4104a;
    font-size: 25px;
}
.current-rate span{
    color: #f4104a;
    font-size: 15px;
}
.centerd-title{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.centerd-title :first-child{
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
    margin-left: 101px;
    font-family: sans-serif;
}
.centerd-title :last-child{
    font-size: 12px;
    color: #666666;
}
.centerd-title :last-child:hover{
    cursor: pointer;
}
.navBar{
    width: 93%;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    gap: 46px;
}
.navBar>div:hover{
    font-weight: bold;
    cursor: pointer;
}

.NewProduct-center{
    width: 93%;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 15px;
}
.NewProduct-center>div{
    width: 100%;
}
.NewProduct-center>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.NewProduct-center-img{
    width: 90%;
    height: 210px;
    object-fit: fill;
    padding-top: 2px;
    padding-left: 3%;
}
.NewProduct-center-p{
    font-size: 18px;
    margin: 0px 10px 0px 10px;
}
.NewProduct-center-priceDiv{
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
    justify-content: space-between;
}
.NewProduct-center-priceDiv p{
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.NewArrivalAll{
    width: 70%;
    margin: auto;
}
.head-NewProduct-center{
    margin: auto;
    width: 90%;
}
.fa-angle-right:before {
    content: "\f105";
    margin-left: -96px;
}
.fa-angle-left:before {
    content: "\f104";
    position: absolute;
    padding-left: 65px
}

/* bottom part css start */



.bottom_box1{
    height: auto;
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    justify-content:space-around;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}
.bottom_box1_logo  div img {
    height: 43px;
    width: 200px;
}
.bottom_box1_logo div h3 {
   font-size: 14px;
   text-align: center;
   margin-top: 4px;
}
.bottom_box1_1 {
    text-align: center;
}
.bottom_box1_1 > .bottom_box1_text{
    font-size: 8px;
    margin-top: -8px;
}
.bottom_box1_1 > .bottom_box1_text1{
    font-size: 14px;
    margin-top: -10px;
    color: gray;
}
.fa-solid {
    color: grey
}
.fa-solid:hover{
    color: rgb(236, 233, 24);
    cursor: pointer;
} 
.bottom_box1_text:hover{
    color: rgb(231, 193, 66);
    cursor: pointer;
} 

.bottom_box2 {
    height: 60px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.bottom_box2_text {
    font-size: 16px;
    font-weight: bold;
    color: gray;
}
.bottom_box2_email {
    height: 40px;
    width: 300px;
}
.bottom_box2_btn {
    height: 42px;
    width: 121px;
    background-color: black;
    color: white;
    
    border: none;
}
.bottom_box2_btn:hover{
    background-color: gray;
    cursor: pointer;
}
.bottom_box2_Soical_id  {
    display: flex;
    gap: 16px;
    text-align: center;
}
.bottom_box2_Soical_id >div {
    border-radius: 50px;
    height: 20px;
    width: 20px;
    padding: 4px;
    background-color: #464646;
    
}
.fa-brands {
    color: white;
}
.icon-fb:hover {
    background-color: rgb(94, 85, 219);
}
.icon-mess:hover {
    background-color: rgb(44, 138, 201);
}
.icon-y:hover {
    background-color: red;
}
.icon-p:hover {
    background-color: rgb(211, 32, 47);
}
.icon-vk:hover {
    background-color: rgba(30, 60, 124, 0.863);
}
.icon-insta:hover {
    background-color: rgb(44, 138, 201);
}
.icon-twi:hover {
    background-color: rgb(44, 138, 201);
}
.icon-blo:hover {
    background-color: rgba(187, 17, 45, 0.884);
}
.icon-tu:hover {
    background-color: rgba(185, 175, 175, 0.692);
}
.bottom_box3 {
    margin-top: 30px;
    height: 300px;
    width: 90%;
    margin: auto;
    display: flex;
    line-height: px;
    gap: 25px;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #978e87;
}
.bottom_box3_1 {
    line-height: 5px;
    font-size: 14px;
}
.bottom_box3_1a p{
    font-size: 14px;
    font-style: italic;
}
.bottom_box3_2 {
    display: flex; 
    gap: 10px;
}
.bottom_box3_2img {
    height: 50px;
    width: 180px;
}
.bottom_box3_2a {
    display: grid;
}
.bottom_box4 {
    height: 90px;
    margin-top: 19px;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
}
.bottom_box4_img {
    height: 35px;
    width: 70px;
    
}
.footer_text{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    height: 28px;
    width: 100%;
    margin-bottom: 0px;
}

/* bottom page css end here */


/* Head css starting here */

#head{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
   
   
}
#head1{
   display: flex;
   justify-content: end;
  
}
.header p{
   margin-left: 30px;
}
select{
   border: none;
   outline: none;
}
#search{
   display: flex;
}
#inp{
   width: 350px;
   height: 30px;
   border: none;
   outline: none;
}
#searchbar{
   display: flex;
   margin-left: 570px;
   margin-top: -25px;
}

#sign{
   display: flex;
}
#search{
   border: 1px solid #ffda00;
   height: 35px;
   border-radius: 50px;

}
#sear{
   display: flex;
   justify-content: center;
   align-items: center;
}
#icon{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffda00;
   width: 40px;
   border-top-right-radius: 50%;
     border-bottom-right-radius: 50%;   
}
#head1>p{
   color: #837e79;

}
#head1>p:hover{
   text-decoration: underline;
   cursor: pointer;
}
#sign>p{
   color: #837e79;
   font-size: 16px;
}
#logo{
margin-top: 30px;
}
#cat{
   display: flex;
  width: 80%;
  margin: auto;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

   
}

#cat>div{
  display: flex;
  width: 250px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
#cat h4:hover{
  text-decoration: underline 5px;
  cursor: pointer;


}
#black{
  background-color:bwhite;
  color:white;
  font-size: 20px;
  text-decoration: none;
 
}

#headimag{
  width: 100%;
}
select{
  color: #837e79;
}
#category{
  background-color:   #f3f3f5;
  line-height: 28px;
  width: 250px;
  margin-left:150px;
  font-family: 'Open Sans', sans-serif;
  
}
#category>div:hover{
  font-weight: bolder;
  cursor: pointer;
  background-color: white;

}
#category>div{
  padding-left: 5px;
}
#block{
  display: flex;
}
#block>img{
  width: 950px;
  height: 420px;
}
#display{
  display: flex;
  width: 80%;
  
  margin: auto;
  height: 200px;
  margin-top: 10px;

}
#display>div{
  height: 100%;
  width: 100%;
  margin-left: 5px;
 
}
#im{
  width: 80%;
  margin: auto;
  margin-top: -20px;
}
a{
    text-decoration: none;
    color: black;
}
 
