body{
    background-color: #f2f2f2;
}

#head1 i{
    margin: auto;
}
#heads{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
#cato{
    display: flex;
   width: 80%;
   margin: auto;
  background-color: white; 
  padding-top: 20px; 
 }
 
 #cato>div{
   display: flex;
   width: 250px;
   height: 40px;
   justify-content: center;
   align-items: center;
 }
 #cato i{
     margin: auto;
     font-size: 16px;
     color: black;
    
 }
 #cato h4:hover{
   text-decoration: underline 5px yellow;
   cursor: pointer;
 }
 
#icon i {
    margin: auto;
}
#sign i{
    margin: auto;
}

/* top part ended */

.line1{
    width: 90%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start{
    display: flex;
    height: 40px;
    margin-left: -20px;
    justify-content: left;
    align-items: center;
}
.start i{
    
   margin: auto;
   font-size: 15px;
}
.start>p:hover{
    cursor: pointer;
    color: #a1a1a1;
}
.start_end{
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.start_end>p:hover{
    cursor: pointer;
    color: #a1a1a1;
}
.box1{
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
.left_box{
    width: 33%;
    height: 90%;
}
.right_box{
    width: 63%;
    height: 95%;
    margin: auto;
}
.img_box{
    width: 100%;
    height: 400px;
    border: 0.1px solid #aab0b8;
    margin-bottom: 11px;
}
.small_img{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin: auto;
}

.small_img>div{
    height: 40%;
    width: auto;
    margin-left: 2%;
    margin: auto;
}
.small_img i{
  font-size: 40px;
  margin-top: -10px;
}
.small_img img:hover{
    box-sizing: border-box;
    border: 2px solid yellow;
    cursor: pointer;
}
.share{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    
}
.share>div{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

.share img{
    border-radius: 50%;
    margin: auto;
    height: 30px;
    width: 30px;
}
.share>div:hover{
    cursor: pointer;
    position: relative;
    margin-top: -2px;
}
.review{
    display: flex;
    align-items: center;
    color: #138cff;
    height: 40px;
    margin-top: -20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.review i{
    margin-left: 5px;
    margin-bottom:40px ;
    color: #e0e0e0;
    font-size: 12px;
}
.review>p:hover{
    text-decoration: underline 1px #138cff;
    cursor: pointer;
}
.SD{
    width: 100%;
    height: 68px;
    background-color: #ff5d42;
    border: 1px solid;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.end{
    display: flex;
    justify-content: right;
    margin-bottom: -25px;
}
.SD>p{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: bold;
}
.time_ends p{
    color: white;
    display: flex;
    align-items: center;
}
.product_box{
    display: flex;
    height: 40px;
    width: 60%;
    /* justify-content: space-evenly */
}
.product_box p,h1{
    display: inline;
    color: #7e94b2;
}
.price1{
    color: #f30240;
    margin: auto;
}
.rrp{
    font-size: 14px;
       margin: auto;
}
.stoprice{
    display: flex;
    margin: auto;
    margin-left: -20px;
    margin-top: 8px;
}
.soprice{
    text-decoration: line-through;
    font-size: 14px;
    margin-left: -1px;
}
.perc{
    background-color: #f30240;
    color: white;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
.promo{
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 10px;
}
.promo>p:nth-child(1){
    color: #7e94b2;
}
#view_more{
    color: #138cff;
}
.promo i{
    color: #138cff;
    margin: auto;
    font-size: 15px;
}
#view_more:hover{
    text-decoration: underline 1px #138cff;
    cursor: pointer;
}
.shipping{
    display: flex;
    margin-bottom: 10px;
    
}
.shipping>p:nth-child(1){
    color: #7e94b2;
}
#US{
    color: #f63b6b;
    
}
.no_more{
    margin-right: -24px;
}
.no_more:hover{
    text-decoration: underline 1px black;
    cursor: pointer;
}
.color{
    display: flex;
    margin: auto;
    color: #7e94b2;
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
    
}
.blue{
    border: 1px solid #f63b6b;
    margin-left: 60px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f63b6b;
}
.ships_from{
    display: flex;
    align-items: center;
}
.ships_from>p:nth-child(1){
    color: #7e94b2;
}
.eu_us_uk{
    display: flex;
    margin-left: 15px;
}
.eu_us_uk>div{
    border: 1px solid ;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#eu{
    border-color: #f63b6b ;
}
.qty{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.qty>p:nth-child(1){
    color: #7e94b2;
}
.nums{
    display: flex;
    margin-left: 65px;
    margin-right: -15px;
}
.nums>div{
    border: 1px solid #aab0b8;
    width: 40px;
    height: 30px;
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    margin-left: 20px;
    margin-bottom: -40px;
}
button:hover{
    cursor: pointer;
}
.addtocart{
    padding: 30px 30px;
    color: white;
    background-color: #f30240;
    font-size: 25px;
    border-style: none;
    margin-right: 20px;
}
.buynow{
    padding: 30px 30px;
    color: #f30240;
    background-color: white;
    font-size: 25px;
    border: 2px solid #f30240;
    /* border-style: none; */
}
.fav{
    margin-bottom: -20px;
}
.fav i:hover{
    cursor: pointer;
}
.cards{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.paypal{
    width: 64px;
    height: 18px;
    padding: 5px;
    /* margin: auto; */
}
 .vcard{
        width: 41px;
        height: 18px;
        padding: 5px;
 }
 .mcard{
    width: 22px;
    height: 18px;
    padding: 5px;
 }

.cards img{
    width: 100%;
    height: 100%;
}
.taxes{
    display: flex;
}
/* box 1 completed */

.recommend{
    height: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    padding: 10px 10px;
}
.items{
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inneritems{
    width: 20%;
    height: auto;
    margin: auto;
    padding: 8px;
    
}
.inneritems:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.items i {
    font-size: 40px;
}
.inneritems>p{
    width: 95%;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
}
.img_div1{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/item/6870745450383863808/16485/goods_img-v2/ced075b4cb37.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.img_div2{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/item/6870745450383863808/16433/goods_img-v3/9ddd43b06de2.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.img_div3{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/item/6870745450383863808/16432/goods_img-v3/d7e0c670df9b.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.img_div4{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/item/6870745450383863808/16434/goods_img-v1/4237ee2cab54.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.img_div5{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/item/6870745450383863808/16434/goods_img-v1/4237ee2cab54.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.img_div6{
    background-image: url(https://gloimg.gbtcdn.com/soa/gb/store/6898996771574444032/16474/goods_img-v1/fb5e1941c923.jpg);
    background-size: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.per_off{
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #f30240;
    display: flex;
    margin-left: 130px;
    text-align: center;
    align-items: center;
}
.p_tag{
    display: flex;
    justify-content: left;
}
.p_tag>p{
    margin: auto;
}
.pr{
    font-size: 25px;
    color: #f30240;
}
.rr{
    color: #a1a1a1;
}
.sr{
    color: #a1a1a1;
    text-decoration: line-through;
}

/* box2 completed */

.dis_rev{
    border: 1px solid #ffda00;
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    margin-top: 60px;
    border-color: white white yellow yellow;
}
.dis{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #ffda00;
    padding: 10px 20px;
    font-size: 20px;
}
.rev{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
    color: #a1a1a1;
}
.rev:hover{
    cursor: pointer;
    background-color: #ffda00;
}
.small_dis{
    display: flex;
    width: 80%;
    height: 40px;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    box-sizing: border-box;
}
.main_fea{
    display: flex;
    width: 85%;
    height: 30px;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.matter{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    line-height: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.spe{
    display: flex;
    width: 80%;
    height: 40px;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.img{
    width: 80%;
    height: auto;
    margin: auto;
}
/* box3 completed */


.inneritems>img{
    width: 100%;
    height: 200px;
}

/* box4 completed */
.fea1{
    width: 85%;
    height: 180px;
    margin: auto;
    display: flex;
}
.zero_stars{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    width: 20%;
    padding: 4% 10px;
}
.zero_stars i{
    font-size: 30px;
    color: #e0e0e0;
}
.zero{
    margin-bottom: 10px;
}
.five_stars{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    height: auto;
    line-height: 1px;
    padding-top: 10px;
}
.fi_st{
    display: flex;
    align-items: center;

}
.li{
    border: 1px solid transparent;
    width: 250px;
    height: 10px;
    border-radius: 20px;
    margin-left: 20px;
    background-color:#e0e0e0 ;
}
/* box5 completed */
.see_rev{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
button{
    height: 30px;
    width: auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold ;
}
.b1{
    border: 1px solid;

}
.b2{
    background-color: #ffda00;
    border-color: transparent;
}
.cr{
    height: 50px;
}
.cr i{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
.sel_lang{
    display: flex;
    align-items: center;
    margin-left: 600px;
    color: #a1a1a1;
}
.line2{
    display: flex;
    align-items: center;
    width: 90%;
    height: 20px;
    margin: auto;
    margin-top: 40px;
    color: #a1a1a1;
}
/* box6 completed */
.your_items{
    margin: auto;
    height: 150px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.yrvi{
    margin-bottom: -10px;
}
.left_items{
    display: flex;
    
}
.left_items>div{
    border: 0.5px solid #7e94b2;
    width: 22%;
    height: 60%;
    align-items: center;
    margin: auto;
}
.left_items>div:hover{
    cursor: pointer;
    position: relative;
    border:2px solid transparent;
    box-sizing: border-box;
}
.left_items img{
    width: 100%;
    height: 100%;
}
.right_items{
    display: flex;
    align-items: center;
}
.customer_mes{
    line-height: 25px;
}
.signin{
    background-color: #ffda00;
    padding: 20px 30px;
    margin-right: 10px;
    border-color: transparent;
}
.top_line{
    color: #a1a1a1;
}
.bot_line{
    color: #138cff;
}
.bot_line:hover{
    text-decoration: underline 1px #138cff;
    cursor: pointer;
}

/* box 7 completed */

.pop_searches{
    width: 85%;
    height: 120px;
    margin: auto;
    box-sizing: border-box;
}
.buy_electric_motors{
    display: flex;
    padding: 5px 15px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.buy_electric_motors i{
   margin: auto;
   font-size: 15px;
   margin-left: 5px;
   color: #138cff;
}
.buy_electric_motors>p{
    color: #138cff;
}
.buy_electric_motors>p:hover{
    cursor: pointer;
    text-decoration: underline 1px #138cff;
}
.listed_items{
    margin: auto;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px -20px;
    
}
.listed_items>p{
    width: auto;
    height: auto;
    display: flex;
    display: grid;
    font-size: 14px;
    margin-top: -18px;
    color: #7e94b2;
}
.listed_items>p:hover{
    cursor: pointer;
    text-decoration: underline 1px #a1a1a1;
}
.bot_box2_subs{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 50px;
}
.bot_box2_text{
    font-weight: bold;
    margin-right: 10px;
}
.bot_box2_btn{
    background-color: black;
    color: white;
    margin-left: -1px;
    border-color: transparent;
}
.bot_box2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin: auto;
}
.bot_box3{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.bot_box3>div{
    width: 24%;
    margin-bottom: 40px;
}
.footer_text{
    align-items: center;
    padding-top: 5px;
}









